.singlePost {
    flex: 9;
  }
  
  .singlePostWrapper {
    padding: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .singlePostImg {
    width: 99%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
  }

  .editorContainer {
    height: 300px;
    overflow: scroll;
    border: 1px solid lightgray;
  }

    .editor {
      height: 100%;
      border: none;
    }